.navbar {
    background-color: black !important;
}
.navbar-brand {
    color: darkgoldenrod !important;
}

.navbar-toggler {
    color: darkgoldenrod !important;
}

.nav-item {
    color: darkgoldenrod !important;
}
.btn {
    color: darkgoldenrod !important;
    border-color: darkgoldenrod !important;
}
.btn-outline-success {
    color: darkgoldenrod !important;

}
body{
    background-color: black;
}
.container {
    position: relative;
    text-align: center;
    color: white;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.pagination{
    align-content: center;
    align-items: center;

}
.page-item{
    align-content: center;
    align-items: center;
}

.blog-images {
    height: 400px;
    width: 400px;
}